{% extends 'base.html.twig' %}

{% block body %}
    <form action="">
        <label for="">Login</label>
        <input type="text" name="_username" class="form-control">
        <label for="">Mot de passe</label>
        <input type="text" name="_password" class="form-control">
        <button class="btn btn-primary">Se connecter</button>
    </form>
{% endblock %}
